@import "config";
@import url("https://fonts.googleapis.com/css2?family=PT+Serif&family=Titillium+Web:wght@400;700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: $text-color;
  font-family: $font-stack;
  line-height: 23px;
}

a {
  text-decoration: none;
}

.header {
  position: sticky;
  top: 0;
  width: 100%;
  background: #fff;
  font-weight: 700;
  border-bottom: 1px solid #bfbfbf;
  margin: 30px 0 6px;
  z-index: 1;

  .header-wrapper {
    max-width: 70.62495rem;
    padding: 0 15px;
    margin: 0 auto;
  }

  .header-top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 0.6875rem;

    .header-promo {
      width: 26.9%;
      margin-right: 2%;
      line-height: 1.1875rem;

      h3 {
        color: $highlight-color;
        text-transform: uppercase;
        letter-spacing: -0.0375rem;
        font-size: 16px;
      }

      p {
        color: #999;
        font-weight: normal;
        letter-spacing: -0.6px;
      }
    }

    .header-logo {
      width: 42.2%;
      height: 3.5rem;
      text-align: center;
      margin-right: 2%;

      img {
        height: 3.5rem;
        width: 21.875rem;
      }
    }

    .header-subscribe {
      width: 26.9%;
      text-align: right;

      a {
        display: inline-block;
        width: 15rem;
        color: #fff;
        background: $highlight-color;
        padding: 0.45833rem;
        border-radius: 0.188rem;
        margin-bottom: 0.34375rem;
        line-height: 1rem;
        text-align: center;
      }
    }
  }

  a {
    font-family: $font-stack-alt;
  }

  .nav-wrapper {
    display: flex;
    justify-content: space-between;

    nav {
      padding: 0.34375rem 0 0;

      ul {
        display: flex;
        list-style-type: none;

        li {
          position: relative;
          padding: 0 0 0.51562rem;
          margin: 0 1.03125rem 0 0;

          a {
            color: #002837;
            font-size: 18px;
            line-height: 21px;
          }

          a:hover {
            color: $highlight-color;
          }
          a::after {
            background-color: #002837;
            bottom: -1px;
            content: "";
            height: 0;
            left: 0;
            position: absolute;
            right: 0;
            transition: 0.2s;
            z-index: 10;
          }

          a:hover::after {
            height: 0.34375rem;
          }

          .nav-link-secondary {
            color: $highlight-color;
          }
        }

        .more {
          display: flex;
        }

        .more::after {
          display: inline-block;
          content: "»";
          font-family: Arial, Helvetica, sans-serif;
          font-size: 16px;
          margin-left: 10px;
          transform: rotate(90deg);
        }

        .selected a {
          color: $highlight-color;
        }

        .selected::after {
          background-color: #002837;
          bottom: -1px;
          content: "";
          height: 0.34375rem;
          left: 0;
          position: absolute;
          right: 0;
          transition: 0.2s;
          z-index: 10;
        }
      }
    }
    .header-tools {
      padding: 0.34375rem 0 0;

      a {
        font-size: 18px;
        color: #002837;
      }

      a:hover {
        color: #999;
        text-decoration: underline;
      }

      a:hover svg {
        fill: #999;
      }

      .signin {
        margin-right: 0.45833rem;
      }

      svg {
        display: inline-block;
        position: relative;
        top: 1px;
        width: 1rem;
        height: 1rem;
        overflow: hidden;
      }

      span {
        margin-left: -1px;
        line-height: 21px;
      }
    }
  }
}

.page-main {
  display: flex;
  flex-wrap: wrap;
  max-width: 70.62495rem;
  background-color: #fff;
  padding: 0 0.93747rem;
  margin: 0 auto;

  article {
    max-width: calc(100% - 20.125rem);
    padding-top: 1rem;
    margin: 0 0 1.375rem;

    h1 {
      color: #000;
      font-family: $font-stack-alt;
      font-size: 50px;
      font-weight: 700;
      line-height: 51px;
      letter-spacing: -0.0375rem;
      margin: 0 0 0.93747rem;
    }

    .article-info {
      font-family: $font-stack-alt;
      margin: 0 0 0.6875rem;

      span {
        line-height: 19px;
      }

      .category-info {
        color: #484848;
        font-weight: 700;
        margin-right: 0.17188rem;
      }
    }

    .article-author {
      font-family: $font-stack-alt;
      line-height: 19px;
      margin: 0 0 0.6875rem;

      span {
        color: $highlight-color;
        font-weight: 700;
      }
    }

    .article-image {
      font-family: $font-stack-alt;
      margin: 0 0 1.375rem;

      img {
        display: block;
        width: 100%;
      }

      .image-caption {
        font-weight: 700;
      }

      p {
        font-size: 12px;
        line-height: 15px;
        margin: 0;
      }
    }

    p {
      font-size: 17px;
      line-height: 25px;
      margin: 0 0 0.6875rem;

      span,
      a {
        color: $highlight-color;
      }
    }

    .read-more {
      background: #f5f5f5;
      display: inline-block;
      margin: 1.375rem 0;
      padding: 0.6875rem;
      width: 100%;

      h4 {
        margin: 0;
      }

      a {
        color: $highlight-color;
      }
    }

    .references {
      font-family: $font-stack-alt;
      font-size: 1rem;
      line-height: 19px;
      font-weight: 700;

      em,
      a {
        font-family: $font-stack;
        font-weight: 400;
      }

      a {
        color: $highlight-color;
      }
    }

    .topic-more {
      display: flex;
      align-items: baseline;
      font-family: $font-stack-alt;
      line-height: 19px;
      font-weight: 700;
      padding: 1.375rem 0 0;

      p {
        font-size: 16px;
        margin: 0 0.6875rem 0 0;
      }

      ul {
        display: flex;
        list-style: none;
        margin: 0 0 0.6875rem;

        li {
          display: inline-block;
          margin: 0 0.6875rem 0.6875rem 0;

          a {
            display: inline-block;
            color: #fff;
            font-size: 16px;
            text-transform: uppercase;
            background: #005587;
            padding: 0.45833rem;
            border-radius: 0.188rem;
          }
        }
      }
    }
  }
}
.sidebar {
  display: flex;
  flex-direction: column;
  width: 18.75rem;
  font-family: $font-stack-alt;
  padding-top: 1rem;
  margin-left: 1.375rem;

  .tabs-wrapper {
    display: flex;

    button {
      flex: 1 0 auto;
      font-family: inherit;
      font-size: 14px;
      font-weight: 700;
      line-height: 17px;
      text-transform: uppercase;
      background-color: #f5f5f5;
      padding: 0.45833rem;
      border: none;
      border-right: 3px solid #fff;
      cursor: pointer;
    }

    .selected {
      color: #fff;
      background: $highlight-color;
    }

    button:last-child {
      border: none;
    }

    button:not(.selected):hover {
      background-color: #ddd;
    }
  }

  ol {
    list-style: none;
    counter-reset: top-content-counter;

    li {
      display: flex;
      font-size: 22px;
      font-weight: 700;
      letter-spacing: -0.0375rem;
      line-height: 25px;
      background-color: #f5f5f5;
      padding: 0.6875rem;
      border-top: 3px solid #fff;
      counter-increment: top-content-counter;

      a {
        color: inherit;
        margin-right: 1.375rem;
      }
    }
    li::after {
      align-self: center;
      color: #00b3e5;
      content: counter(top-content-counter);
      font-size: 2rem;
      font-weight: 700;
      line-height: 35px;
    }
  }
}

.social-others {
  background-color: #fff;
  display: flex;
  flex-flow: row wrap;
  max-width: 70.62495rem;
  padding: 0 0.93747rem;
  margin: 0 auto 1.375rem;

  .section-wrapper {
    display: flex;
    flex: 1;
    padding-top: 1rem;
    margin: 0 0 1.375rem;
  }

  .social {
    flex: 1 0 49%;
    margin-right: 2%;
    max-width: 49%;
    width: 49%;
  }

  .promo-wrapper {
    margin: 0 0.6875rem 0 0;

    img {
      width: 185px;
    }
  }

  .promo-links {
    flex: 1;

    li {
      margin-bottom: 0.6875rem;
      list-style: none;

      a {
        width: 100%;
        border: 0;
        border-radius: 0.188rem;
        color: #fff;
        display: inline-block;
        font-family: $font-stack-alt;
        font-size: 1rem;
        font-weight: 700;
        line-height: 1rem;
        padding: 0.45833rem;
        text-align: center;
        text-transform: uppercase;
      }

      .promo-cta-sub {
        background: $highlight-color;
      }
      .promo-cta-app {
        background: #20b2aa;
      }
      .promo-cta-buy {
        background: red;
      }
    }
  }
}

.more-content {
  display: flex;
  flex-direction: column;
  max-width: 70.62495rem;
  padding: 1rem 0.93747rem;
  margin: 0 auto;
  margin-bottom: 1.375rem;

  .more-heading {
    font-weight: 400;
    line-height: 27px;
  }

  .cards-wrapper {
    display: flex;

    .card {
      flex: 1 0 23.5%;
      position: relative;
      width: 23.5%;
      max-width: 23.5%;
      margin-right: 2%;
      margin-bottom: 1.375rem;

      .card-content a {
        display: flex;
        flex-direction: column;
      }

      img {
        width: 100%;
        margin-bottom: 0.6875rem;
      }

      h2 {
        font-size: 22px;
        font-weight: 700;
        line-height: 25px;
        margin: 0;
      }

      .card-category {
        position: absolute;
        top: 0;
        left: 0;
        color: #fff;
        font-family: $font-stack-alt;
        font-size: 14px;
        font-weight: 700;
        line-height: 17px;
        background-color: #484848;
        padding: 0.45833rem;
        text-transform: uppercase;
      }
    }
  }
}

.footer {
  background: #f5f5f5;
  padding: 1.375rem 0 35px;
  margin: 52px 0 0;

  .footer-wrapper {
    max-width: 70.62495rem;
    margin: 0 auto;
    padding: 0 0.93747rem;
  }

  .footer-section {
    text-align: center;
    margin-bottom: 0.6875rem;
    padding: 0.6875rem 0;

    .newsletter {
      text-align: left;

      h3 {
        font-size: 1.5rem;
        font-weight: 700;
        line-height: 27px;
      }

      .signup-form {
        display: flex;
        align-items: center;

        label {
          display: inline-block;
          margin: 0 0.6875rem 0.6875rem 0;
        }

        input[type="email"] {
          width: 32%;
          font-size: 1rem;
          font-family: inherit;
          line-height: 1rem;
          background: transparent;
          padding-left: 0.1875rem;
          border: 0;
          border-bottom: 2px solid #000;
          margin: 0 0.6875rem 0.6875rem 0;
          margin-right: 2%;
        }

        input[type="submit"] {
          display: inline-block;
          width: 15rem;
          font-family: $font-stack-alt;
          color: #fff;
          font-size: 1rem;
          font-weight: 700;
          line-height: 1rem;
          text-align: center;
          text-transform: uppercase;
          background: #005587;
          padding: 0.45833rem;
          border: 0;
          border-radius: 0.188rem;
          transition: all 0.2s;
          cursor: pointer;
        }

        input[type="submit"]:hover {
          background: #193c5b;
        }
      }
    }
  }

  .footer-nav {
    text-align: center;
    margin-bottom: 0.6875rem;

    ul {
      display: flex;
      justify-content: center;
      list-style-type: none;

      li {
        display: inline-block;
        padding: 0 0.6875rem 0 0;
        border-right: 1px solid #4d4d4d;
        margin: 0 0.6875rem 0 0;

        a {
          color: #000;
          font-size: 16px;
        }

        a:hover {
          color: $highlight-color;
        }
      }

      li:last-child {
        padding-right: 0;
        border-right: 0;
        margin-right: 0;
      }
    }

    button {
      display: inline-block;
      font-family: $font-stack-alt;
      color: #fff;
      font-size: 1rem;
      font-weight: 700;
      line-height: 1rem;
      text-align: center;
      text-transform: uppercase;
      background: #005587;
      padding: 0.45833rem;
      border: 0;
      border-radius: 0.188rem;
      margin-top: 1.375rem;
      transition: all 0.2s;
      cursor: pointer;
    }

    button:hover {
      background: #288eb7;
    }
  }

  .footer-nav:first-of-type {
    border-bottom: 1px solid #bfbfbf;
    padding-bottom: 0.6875rem;
  }

  .footer-apps {
    display: inline-block;
    margin-right: 1.87495rem;

    h3 {
      font-size: 1rem;
      font-weight: 400;
      line-height: 19px;
      text-align: left;
      text-transform: uppercase;
    }

    .buttons-wrapper {
      display: flex;
    }

    .footer-app-btn {
      width: 110px;
      height: 33px;
      margin: 0 1.375rem 1.375rem 0;
    }

    .footer-app-btn:last-of-type {
      margin-right: 0;
    }
  }

  .footer-social {
    display: inline-block;
    vertical-align: top;

    h3 {
      font-size: 1rem;
      font-weight: 400;
      line-height: 19px;
      text-align: left;
      text-transform: uppercase;
    }

    a {
      height: 26px;
      width: 26px;
    }

    a:nth-child(3) {
      background: #0077b5;
    }

    a:nth-child(4) {
      background: #cb2027;
      margin-right: 0;
    }
  }

  .footer-additional {
    display: flex;
    justify-content: space-between;

    .copyright {
      color: #000;
      font-size: 14px;
      line-height: 4rem;
    }

    a {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 9rem;
      font-family: $font-stack-alt;
      color: #000;
      font-weight: 600;
    }

    span {
      display: inline-block;
      width: 40px;
      height: 40px;
    }
  }
}

.social {
  display: flex;
  margin: 0 0 0.6875rem;

  a {
    width: 32px;
    height: 32px;
    padding: 2px;
    background: #999;
    border-radius: 50%;
    margin-right: 0.91667rem;
    cursor: pointer;
  }

  a:nth-child(1) {
    background: #3b5998;
  }

  a:nth-child(2) {
    background: #1da1f2;
  }

  a:nth-child(3) {
    background: #4dc247;
  }

  a:nth-child(4) {
    background: #0077b5;
  }

  a:nth-child(5) {
    background: #ff5700;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #000;
  font-family: $font-stack-alt;
  letter-spacing: -0.0375rem;
  margin: 0 0 0.93747rem;
}

@media (max-width: 64.063rem) {
  .header-promo {
    display: none;
  }

  .header {
    .header-top {
      display: flex;
      flex-direction: column;

      .header-logo {
        height: 1.4rem;
        width: 100%;
        margin-bottom: 2rem;
      }

      .header-subscribe {
        display: none;
      }
    }

    .nav-wrapper {
      display: none;
    }
  }

  .page-main {
    flex-direction: column;

    .article-main {
      max-width: 100%;
    }
  }

  .social-others {
    flex-direction: column;

    .social {
      width: 100%;
    }
    .section-wrapper {
      flex-direction: column;
      text-align: center;
    }
  }
}
