@import "config";
@import url("https://fonts.googleapis.com/css2?family=PT+Serif&family=Titillium+Web:wght@700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: $text-color;
  font-family: $font-stack;
  line-height: 23px;
}

a {
  text-decoration: none;
}

a:hover {
  color: $highlight-color;
}

.header {
  max-width: 70.62495rem;
  background: #fff;
  font-weight: 700;
  padding: 0 15px;
  border-bottom: 1px solid #bfbfbf;
  margin: 30px auto 6px;

  .header-top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 0.6875rem;

    .header-promo {
      width: 26.9%;
      margin-right: 2%;
      line-height: 1.1875rem;

      h3 {
        color: $highlight-color;
        text-transform: uppercase;
        letter-spacing: -0.0375rem;
        font-size: 16px;
      }

      p {
        color: #999;
        font-weight: normal;
        letter-spacing: -0.6px;
      }
    }

    .header-logo {
      width: 42.2%;
      height: 3.5rem;
      text-align: center;
      margin-right: 2%;

      img {
        height: 3.5rem;
        width: 21.875rem;
      }
    }

    .header-subscribe {
      width: 26.9%;
      text-align: right;

      a {
        display: inline-block;
        width: 15rem;
        color: #fff;
        background: $highlight-color;
        padding: 0.45833rem;
        border-radius: 0.188rem;
        margin-bottom: 0.34375rem;
        line-height: 1rem;
        text-align: center;
      }
    }
  }

  a {
    font-family: Titillium Web, Helvetica, Trebuchet MS, Arial, sans-serif;
  }

  .nav-wrapper {
    display: flex;
    justify-content: space-between;

    nav {
      padding: 0.34375rem 0 0;

      ul {
        display: flex;
        list-style-type: none;

        li {
          padding: 0 0 0.51562rem;
          margin: 0 1.03125rem 0 0;

          a {
            color: #002837;
            font-size: 18px;
          }

          .nav-link-secondary {
            color: $highlight-color;
          }

          .more::after {
            display: inline-block;
            content: "»";
            font-family: Arial, Helvetica, sans-serif;
            font-size: 16px;
            font-weight: normal;
            margin-left: 10px;
            transform: rotate(90deg);
          }
        }
      }
    }
    .header-tools {
      padding: 0.34375rem 0 0;

      a {
        font-size: 18px;
        color: #002837;
      }
      .signin {
        margin-right: 0.45833rem;
      }

      svg {
        display: inline-block;
        position: relative;
        top: 1px;
        width: 1rem;
        height: 1rem;
        overflow: hidden;
      }

      .search {
        span {
          display: inline-block;
        }
      }
    }
  }
}
